* {
    margin: 0;
    padding: 0;
    
}
header {
    max-width: 1200px;
    margin: 0 auto 10px;
}
article {
    max-width: 1200px;
    margin: auto;
    color: #2C2C2C;
}
h1 {
    margin: 14px 10px 30px;
    font-family: "CTVSans-Bold",arial,sans-serif;
    font-size: 40px;
    line-height: 38px;
    color: #2C2C2C;

}
p{
    font-size: 18px;
}
a {
    text-decoration: none;
}


/*   CLASES   */

.ad {
    height: 40px;
    padding-bottom: 10px;
}
.ad p {
    padding: 10px;
    margin: 5px 0;
    text-align: center;
    font-family: Helvetica;
    font-size: 11px;
    color: #828282;
}


/*   IDS    */

#header-back {
    display: inline-block;
    width: 30%;
    color: #0060ff;
    font-family: "CTVSans-Bold",arial,sans-serif;
    font-size: 16px;
}
#header-back i {
    position: relative;
    top: 5px;
    font-size: 30px;
}
#header-logo {
    display: inline-block;
    width: 40%;
    margin-top: 20px;
    text-align: center;
}
#header-logo img {
    width: 200px;
    height: auto;
}
#header-social {
    display: inline-block;
    width: 30%;
    text-align: right;
}
#header-social p {
    margin: 0;
    text-transform: uppercase;
    font-family: 'CTVSans-Bold',arial,sans-serif;
    font-size: 14px;
    color: #4a4a4a;
}
#header-social li {
    list-style: none;
}
#header-social li, #header-social a {
    height: 23px;
    display: inline-block;
}
#social-facebook {
    left: 0;
    width: 12px;
    background: url(img/social-icons.png) -2px 0;
}
#social-twitter {
    left: 15px;
    width: 22px;
    background: url(img/social-icons.png) -28px 0;
}
#social-instagram {
    left: 40px;
    width: 22px;
    background: url(img/social-icons.png) -60px 0;
}
#social-youtube {
    left: 65px;
    width: 30px;
    background: url(img/social-icons.png) -92px 0;
}
#social-linkedin {
    left: 98px;
    width: 22px;
    background: url(img/social-icons.png) -132px 0;
}
#important-info {
    border-top: 3px solid #0060ff;
    background-color: #a80a01;
}
#important-info .container {
    max-width: 1200px;
    padding: 18px 10px 15px;
    margin: auto;
    box-sizing: border-box;
    font-family: "CTVSans-Regular",arial,sans-serif;
    color: white;
}
#important-info h3 {
    text-transform: uppercase;
    font-size: 16px;
}
#important-info h2 {
    margin-top: 10px;
    font-size: 20px;
}
#important-info a, #important-info a:visited {
    color: white;
}
#important-info a:hover {
    text-decoration: underline;
}
#covid-info {
    max-width: 1180px;
    margin: 20px auto 0;
    font-family: 'CTVSans-Bold',arial,sans-serif;
}
#covid-info div {
    height: auto;
    padding: 10px 0;
    border-top: 1px solid #D3D3D3;
}
#covid-info a, #covid-info a:visited {
    color: #2C2C2C;
}
#covid-info h3 {
    text-transform: uppercase;
    font-size: 16px;
}
#covid-info p {
    font-size: 15px;
}
#updates {
    display: inline-block;
    width: 32%;
    margin-right: 20px;
    box-sizing: border-box;
}
#updates img {
    float: left;
    width: 57px;
}
#newsletter {
    display: inline-block;
    width: 28%;
    margin-right: 20px;
    box-sizing: border-box;
}
#newsletter h3 {
    color: #EB0000;
}
#vaccine {
    display: inline-block;
    width: 34%;
    box-sizing: border-box;
}